body {
    background-color: #121212; /*darktheme*/
    font-family: 'Merriweather', serif;
    color: #ffffff; 
}

/* .mySite {
    width: 80%;
    margin: auto;
} */

.segment {
    padding: 250px 20% 20% 100px;
}

#whereimfrom {
    padding: 7% 15%;
    position: relative;
    background-color: #272727;
}

.name {
    font-weight: 700;
    padding: 12px 24px;
}

.navigation ul {
 list-style-type: none;   
 font-weight: 700;
}

ul {
    list-style-type: none;
}