body {
    background-color: #121212; /*darktheme*/
    font-family: 'Merriweather', serif;
    color: #ffffff; 
}

a {
    color: inherit; /*standard colors*/
    text-decoration: none;
}

/* sections */
.segment {
    padding: 25% 15%;

}

.segment h1 {
    font-size: 2.5rem;
}

/* where I'm from section  */
#whereimfrom {
    padding: 25% 15%;
    position: relative;
    background-color: #272727;
}

/* just my name thingie to be changed? */

.name {
    font-weight: 700;
    padding: 12px 24px;
}

/* navbar */
.navigation ul {
 list-style-type: none;   
 font-weight: 700;
}

.navigation li {
    float: left;
}


ul {
    list-style-type: none;
}