/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


body {
    background-color: #121212; /*darktheme*/
    font-family: 'Merriweather', serif;
    color: #ffffff; 
}

a {
    color: inherit; /*standard colors*/
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 2.5rem;
}

/* sections */
.segment {
    padding: 25% 15%;

}

.segment h1 {
    font-size: 2.5rem;
}


/* navbar stuff */
    /* just my name thingie to be changed? */
.name {
    font-weight: 700;
    padding: 12px 24px;
    display: inline;
}

nav {
    float: right;
    padding: 12px 40px;
}

nav a {
    padding-left: 12px;
    padding-right: 12px;
}


/* where I'm from section  */
#whereimfrom {
    padding: 17% 15%;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1539236931660-5dc598663ed1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #272727;
    color: #121212;
}

#whereimfrom h1 {
    font-size: 2.5rem;
}



/* where I'm now section */
#whereimnow {
    padding: 25% 15%;
}

#whereimnow h1 {
    font-size: 2.5rem;
    margin-bottom: 12%;
}

#whereimnow img{
    /* width: 50%; */
    height: 400px;
    padding: 12px 40px;
    margin: 12px;
    float: left;
    margin-bottom: 25px;
    border: 2px solid green;
    display: block;
}

.imageframe {
    border: 2px solid red;
    height: 400px;
    margin: 12px;
} 

.webdev {
    padding: 25% 15%;
    /* border: 1px solid white; */
}



footer {
    text-align: center;
    margin-bottom: 2%;
}

/* resume page */
.resume {
    width: 60%;
    /* margin-top: 12px; */
    /* padding: 25px 12px; */
    margin: auto;
    margin-top: 25px;
    padding: 15% 15%;
    background-color: #272727;
}

.resume-block {
    margin-bottom: 55px;
}



/* contact page */

.socialmedia {
     padding: 25% 15%;
}

.so-me {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
